<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SHOW PAGE</title>
</head>
<body>
	<h1>SHOW PAGE</h1>
	<p>Name: <%=musician.name%></p>
	<p>Birth: <%=musician.birth %></p>
	<p>Genre: <%=musician.genre %></p>
	<p>Photo: <img src="<%=musician.photo %>"></p>
</body>
</html>